@charset "UTF-8";
p{
    border-width: 1px;
    border-top-style: solid;
}
div{
    border-width: 4px;
    border-style: double dotted solid ridge;
}
#double{
    border-width: 4px;
    border-style: double;
}
#dashed{
    border-width: 4px;
    border-style: dashed;
}
#dotted{
    border-width: 4px;
    border-style: dotted;
}
#groove{
    border-width: 4px;
    border-style: groove;
}
#ridge{
    border-width: 4px;
    border-style: ridge;
}
#inset{
    border-width: 4px;
    border-style: inset;
}
#outset{
    border-width: 4px;
    border-style: outset;
}